/* Fonts */

@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Bold.woff2");
  font-weight: 700;
}
