.hero {
    position: relative;
    color: white;
    padding: 80px 0 0;
    background-image: url(../images/backgrounds/hero-bg.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    &-background {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        width: 100%;
    }
    &-wrapper {
        display: flex;
        align-items: center;
        gap: 95px;
        padding-bottom: 250px;
    }

    &-left {
        max-width: 560px;
        width: 100%;
        aspect-ratio: 558/552;
    }

    &-right {
        .title {
            margin-bottom: 5px;
        }
        .description {
            margin-bottom: 54px;
            color: hsl(0, 0%, 70%);
            max-width: 500px;
        }
    }

    .stats {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        max-width: 700px;
        width: 100%;
        justify-content: space-between;
    }

    .stats div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 16px;
        border: 1px solid #794bff;
        aspect-ratio: 168/183;
        max-width: 183px;
        width: 100%;
        background-color: #ffffff;
        color: $violet;
        img {
            aspect-ratio: 1/1;
            max-width: 50px;
            margin-bottom: 10px;
        }
    }

    &-video-button {
        display: flex;
        align-items: center;
        gap: 14px;
        cursor: pointer;
        img {
            aspect-ratio: 1/1;
            max-width: 45px;
            transition: transform 0.4s;
        }
        span {
            text-decoration: underline;
            text-underline-offset: 6px;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
